<%- include('./layout/header.ejs') -%>
    <header class="py-3">
        <%- include('./components/nav.ejs') -%>
    </header>
    <main class="container">
        <div class="d-block py-3">
            <ul class="uk-breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="d-md-inline-block">
                    <a href="">Page</a>
                </li>
                <li>
                    <span>Home</span>
                </li>
            </ul>
        </div>
        <div class="my-3 border border-muted rounded p-3">
            <div class="std">
                <h2>OUR COMPANY</h2>
                <div>
                    <p>KOC Technology Company Limited
                        <br> Email:
                        <a class="orange" href="mailto:support@keyoneclick.com">support@keyoneclick.com</a>
                        <br> Website:
                        <a class="orange" href="https://keyoneclick.com">https://keyoneclick.com</a>
                    </p>
                </div>
                <h2>INFORMATIONS</h2>
                <p class="pl20">- Established in 2017, we are the official authorized reseller - Fast, Trust and All</p>
                <p class="pl20">- We don’t sell content (files), just services - Premium accounts for high speed access or other such premium
                    benefits. It is strictly forbidden to download or upload any copyrighted content (movie , software, music
                    , picture, ...) without prior approval of the copyright content owner</p>
                <p class="pl20">- KeyOneClick.com is the most popular File-hosting Reseller, delivering fantastic service and good prices
                    across a wide range of Premium keys / Premium accounts</p>
                <h2>Why is KeyOneClick</h2>
                <h4>Safe Payment &amp; Secure Transactions</h4>
                <div class="pl20">
                    <p>- 100% Secure payment: SSL Secure, 100% Safe &amp; Anonymous, 100% Guaranteed.</p>
                    <p>-
                        <strong>One Time Purchase / Non recurring payments</strong>: Your credit card will NOT get recharged once
                        your account expires.</p>
                    <p>- Credit card details will be handled securely to ensure confidentiality and that 256 bit SSL encryption
                        is employed to ensure sensitive data is protected during transmission over the internet.</p>
                </div>
                <h4>All in KeyOneClick</h4>
                <p>We cooperate with more than 30 file-sharing sites (1fichier, Depfile, FileJoker, Keep2Share, etc...), so
                    just use KeyOneClick to shop anytime from anywhere you want.</p>
                <h4>Fast Delivery</h4>
                <p>We will send premium account / premium key to your email after receiving your payment, usually it does not
                    exceed 5 minutes for online payments during opening time, maximum 2 hours ( * Our working time: 0h00
                    am - 16h00 pm GMT )</p>
                <h4>Wide Range of Payment Methods</h4>
                <p>We support the diverse payment methods such as Credit Card / Debit Card, Visa, Mastercard, JCB, American
                    Express, Dinner Clubs, UnionPay, Amazon Payments, PayPal, BitCoin, WebMoney, Paysafecard, Skrill / Moneyboookers,
                    Perfect Money, OKPAY, Payoneer</p>
                <h4>Customer Service</h4>
                <p>- Get exclusive discounts, promotions and cheap price at KeyOneClick</p>
                <p>- Please feel free with live chat support</p>
                <p>&nbsp;</p>
                <div style="text-align: right;">
                    <strong>Thank you for using our service</strong>
                    <br> Best Regards,
                    <br> KeyOneClick Team</div>
            </div>
        </div>
    </main>
    <%- include('./layout/footer.ejs') -%>