<%- include('./layout/header.ejs') -%>
    <header class="py-3">
        <%- include('./comp/nav.ejs') -%>
    </header>
    <main class="container">
        <div class="uk-visible-toggle uk-position-relative" uk-slider="autoplay: true; autoplay-interval: 6000; left: true">
            <div class="py-3 p uk-slider-items" uk-grid>
                <% for(let i = 0; i < 6; i++){ %>
                    <div class="uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s">
                        <div class="plan-box text-center uk-box-shadow-hover-large">
                            <a href="#">
                                <h6 class="text-dark uk-text-small text-uppercase">Datafile Premium 90 days</h6>
                            </a>
                            <h4 class="text-danger">$45</h4>
                            <ul class="nolist uk-text-small">
                                <li class="color-5">
                                    <i uk-icon="icon: check; ratio: 0.7"></i>In stock</li>
                                <li>NO waiting</li>
                                <li>Maximum download speed</li>
                                <li>Resume support</li>
                            </ul>
                            <div class="d-inline-flex w-100 mt-4">
                                <div class="flex-1">
                                    <a href="" class="btn btn-warning rounded-0 text-uppercase">Buy now</a>
                                </div>
                                <div class="flex-1">
                                    <a href="" class="btn btn-outline-warning px-3 text-uppercase">Add Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>
        <div class="border rounded border-warning mt-3 p-3">
            <h5 class="text-uppercase uk-text-bold pb-3 border-bottom border-muted">
                HOW TO ACTIVATE FILEFACTORY PREMIUM TOKEN ?
            </h5>
            <ol>
                <li>
                    You will receive a Premium token / Premium key like this: 6299B875F866A13CAAAAAAAAAAA
                </li>
                <li>
                    Login into to your FileFactory account.
                </li>
                <li>
                    Put your Premium token / Premium key in "Enter Token" , and click on "Continue"
                </li>
            </ol>
        </div>
    </main>
    <%- include('./layout/footer.ejs') -%>