<ul class="col-md-12 bg-3 nolist d-inline-flex nav-profile">
        <li class="flex-1">
            <a class="d-block text-center py-1" href="/profile.html">
                <i class="fa fa-cubes fa-lg"></i>
                <p class="my-0 d-block">Dashboard</p>
            </a>
        </li>
        <li class="flex-1">
            <a class="d-block text-center py-1" href="/creditpoint.html">
                <i class="fa fa-credit-card fa-lg"></i>
                <p class="my-0 d-block">Credit Point</p>
            </a>
        </li>
        <li class="flex-1">
            <a class="d-block text-center py-1" href="/edit-profile.html">
                <i class="fa fa-lock fa-lg"></i>
                <p class="my-0 d-block">Change Profile</p>
            </a>
        </li>
        <li class="flex-1">
            <a class="d-block text-center py-1" href="/serial-manage.html">
                <i class="fa fa-clock-o fa-lg"></i>
                <p class="my-0 d-block">History</p>
            </a>
        </li>
    </ul>