<% 
    let data = [
        {name:"FileBoom.me",img:"fileboom-premium-key-200x75.png"},
        {name:"Keep2share.cc",img:"keep2share-premium-key-200x75.png"},
        {name:"Filenext.Com",img:"filenext-premium-200x75.png"},
        {name:"File.al Premium",img:"file-all-premium-key-200x75.png"},
        {name:"Katfile.Com",img:"Katfile-premium-200x75.png"},
        {name:"Filejoker.net",img:"filejoker-premium-key-200x75.png"},
        {name:"CloudGhost.Net",img:"cloudghost-premium-200x75.png"},
        {name:"AllDebrid.com",img:"alldebrid-premium-key-200x75.png"},
        {name:"Rapidgator.net",img:"rapidgator-premium-key-200x75.png"},
        {name:"Filesmonster.com",img:"filesmonster-premium-key-200x75.png"},
        {name:"Filespace.com",img:"filespace-premium-key-200x75.png"},
        {name:"Xubster.com",img:"xubster-com-premium-200x75.png"},
        {name:"DepositFiles.com",img:"depositfiles-premium-key-200x75.png"},
        {name:"TurboBit.net",img:"turbobit-premium-key-200x75.png"},
        {name:"Novafile.com",img:"novafile-premium-key-200x75.png"},
        {name:"UploadBoy.com",img:"uploadboy-premium-key-200x75.png"},
        {name:"DebridItalia.Com",img:"debriditalia-premium-200x75.png"},
        {name:"Daofile.com",img:"daofile-premium-key-200x75.png"},
        {name:"EasyBytez.com",img:"easybytez-premium-key-200x75.png"},
        {name:"Filefactory.com",img:"filefactory-premium-key-200x75.png"},
        {name:"Filevega.Com",img:"filevega-premium-200x75.png"},
        {name:"Hotlink.cc",img:"hotlink.cc-paypal-reseller-200x75.png"},
        {name:"Mountfile.net",img:"mountfile-premium-key-200x75.png"},
        {name:"Premiumax.Net",img:"Premiumax-premium-200x75.png"},
        {name:"Rapidrar.Com",img:"Rapidrar-premium-200x75.png"},
        {name:"Real-Debrid.com",img:"real-debrid-premium-key-200x75.png"},
        {name:"Subyshare.com",img:"subyshare-premium-key-200x75.png"},
        {name:"Takefile.link",img:"takefile-paypal-reseller-200x75.png"},
        {name:"Upload.cd",img:"upload-cd-premium-key-200x75.png"},
        {name:"Hitfile.net",img:"hitfile-premium-key-200x75.png"},
        {name:"Ex-load.com",img:"ex-load-premium-key-200x75.png"}
    ]
%>
    <section class="mt-4">
        <div class="row" id="--js-product-show">
            <% data.forEach(function(item){ %>
                <a href="#--js-product-detailt" class="col-md-3 col-6 mb-3" uk-toggle>
                    <div class="product-box text-center uk-box-shadow-hover-large">
                        <div class="product-logo">
                            <img data-src="/dist/images/logo/<%= item.img %>" alt="" uk-img>
                        </div>
                        <div class="product-title d-block uk-text-small py-2" gh-item>
                            <%=item.name %>
                        </div>
                    </div>
                </a>
                <% }) %>
        </div>
    </section>
    <div id="--js-product-detailt" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog uk-modal-body h-100">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-modal-title d-md-inline-flex d-block align-items-center border-bottom border-muted w-100 pb-3">
                <div class="modal-logo">
                    <img alt="" data-src="/dist/images/logo/ex-load-premium-key-200x75.png" uk-img>
                </div>
                <div class="ml-md-2">
                    <big>Ex-load.com</big>
                    <a href="/plan.html" uk-icon="icon: sign-in; ratio: 1.5"></a>
                    <p class="uk-text-small">Put your Premium token / Premium key in "Enter Token" , and click on "Continue"</p>
                </div>
            </div>
            <div class="uk-visible-toggle uk-position-relative" uk-slider="autoplay: true; autoplay-interval: 6000">
                <div class="mt-3 uk-slider-items" uk-grid>
                    <% for(let i = 0; i < 6; i++){ %>
                        <div class="uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s">
                            <div class="plan-box text-center uk-box-shadow-hover-large">
                                <a href="#">
                                    <h6 class="text-dark uk-text-small text-uppercase">Datafile Premium 90 days</h6>
                                </a>
                                <h4 class="text-danger">$45</h4>
                                <ul class="nolist uk-text-small">
                                    <li class="color-5">
                                        <i uk-icon="icon: check; ratio: 0.7"></i>In stock</li>
                                    <li>NO waiting</li>
                                    <li>Maximum download speed</li>
                                    <li>Resume support</li>
                                </ul>
                                <div class="d-inline-flex w-100 mt-4">
                                    <div class="flex-1">
                                        <a href="" class="btn btn-warning rounded-0 text-uppercase">Buy now</a>
                                    </div>
                                    <div class="flex-1">
                                        <a href="" class="btn btn-outline-warning px-3 text-uppercase">Add Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

            </div>
            <div class="border rounded border-warning mt-3 p-3">
                <h5 class="text-uppercase uk-text-bold pb-3 border-bottom border-muted">
                    HOW TO ACTIVATE FILEFACTORY PREMIUM TOKEN ?
                </h5>
                <ol>
                    <li>
                        You will receive a Premium token / Premium key like this: 6299B875F866A13CAAAAAAAAAAA
                    </li>
                    <li>
                        Login into to your FileFactory account.
                    </li>
                    <li>
                        Put your Premium token / Premium key in "Enter Token" , and click on "Continue"
                    </li>
                </ol>
            </div>
        </div>
    </div>