<% 
    let data = [
        {name:"FileBoom.me",img:"fileboom-premium-key-200x75.png"},
        {name:"Keep2share.cc",img:"keep2share-premium-key-200x75.png"},
        {name:"Filenext.Com",img:"filenext-premium-200x75.png"},
        {name:"File.al Premium",img:"file-all-premium-key-200x75.png"},
        {name:"Katfile.Com",img:"Katfile-premium-200x75.png"},
        {name:"Filejoker.net",img:"filejoker-premium-key-200x75.png"},
        {name:"CloudGhost.Net",img:"cloudghost-premium-200x75.png"},
        {name:"AllDebrid.com",img:"alldebrid-premium-key-200x75.png"},
        {name:"Rapidgator.net",img:"rapidgator-premium-key-200x75.png"},
        {name:"Filesmonster.com",img:"filesmonster-premium-key-200x75.png"},
        {name:"Filespace.com",img:"filespace-premium-key-200x75.png"},
        {name:"Xubster.com",img:"xubster-com-premium-200x75.png"},
        {name:"DepositFiles.com",img:"depositfiles-premium-key-200x75.png"},
        {name:"TurboBit.net",img:"turbobit-premium-key-200x75.png"},
        {name:"Novafile.com",img:"novafile-premium-key-200x75.png"},
        {name:"UploadBoy.com",img:"uploadboy-premium-key-200x75.png"},
        {name:"DebridItalia.Com",img:"debriditalia-premium-200x75.png"},
        {name:"Daofile.com",img:"daofile-premium-key-200x75.png"},
        {name:"EasyBytez.com",img:"easybytez-premium-key-200x75.png"},
        {name:"Filefactory.com",img:"filefactory-premium-key-200x75.png"},
        {name:"Filevega.Com",img:"filevega-premium-200x75.png"},
        {name:"Hotlink.cc",img:"hotlink.cc-paypal-reseller-200x75.png"},
        {name:"Mountfile.net",img:"mountfile-premium-key-200x75.png"},
        {name:"Premiumax.Net",img:"Premiumax-premium-200x75.png"},
        {name:"Rapidrar.Com",img:"Rapidrar-premium-200x75.png"},
        {name:"Real-Debrid.com",img:"real-debrid-premium-key-200x75.png"},
        {name:"Subyshare.com",img:"subyshare-premium-key-200x75.png"},
        {name:"Takefile.link",img:"takefile-paypal-reseller-200x75.png"},
        {name:"Upload.cd",img:"upload-cd-premium-key-200x75.png"},
        {name:"Hitfile.net",img:"hitfile-premium-key-200x75.png"},
        {name:"Ex-load.com",img:"ex-load-premium-key-200x75.png"}
    ]
%>
    <section class="mt-4">
        <div class="row" id="--js-product-show">
            <% data.forEach(function(item){ %>
                <a href="#" class="col-md-3 col-6 mb-3">
                    <div class="product-box text-center">
                        <div class="product-logo">
                            <img src="/dist/images/logo/<%= item.img %>" alt="">
                        </div>
                        <div class="product-title d-block uk-text-small py-2" gh-item><%=item.name %></div>
                    </div>
                </a>
            <% }) %>
        </div>
    </section>