<section>
    <h2 class="color-5 text-center my-0 py-3">
        Get Premium Key fast, trust and all
    </h2>
    <div class="d-block text-center">
        <div class="uk-inline border border-warning uk-width-2-3@l">
            <input 
            type="text" 
            class="uk-input uk-form-large border-0" 
            placeholder="Search Product..."
            onkeyup="product_filter()"
            gh-filter="#--js-product-show">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
        </div>
    </div>
</section>