<div class="col-md-8 uk-position-relative uk-visible-toggle uk-light" uk-slideshow="
                autoplay: true;
                autoplay-interval: 5000;
                sets: true;
                min-height: false; 
                max-height: 20;
                velocity: 0.3;
                ">
    <div class="uk-slideshow-items w-100 text-dark news-slider uk-text-meta">
        <a href="">
            <span class="text-warning">10% off</span> for all orders to celebrate 1st birthday KeyOneClick
            Why is <span class="text-warning">KeyOneClick</span>?
        </a>
        <a href="">
            <span class="text-warning">10% off</span> for all orders to celebrate 1st birthday KeyOneClick
            Why is <span class="text-warning">KeyOneClick</span>?
        </a>
        <a href="">
            <span class="text-warning">10% off</span> for all orders to celebrate 1st birthday KeyOneClick
            Why is <span class="text-warning">KeyOneClick</span>?
        </a>
        <a href="">
            <span class="text-warning">10% off</span> for all orders to celebrate 1st birthday KeyOneClick
            Why is <span class="text-warning">KeyOneClick</span>?
        </a>
        <a href="">
            <span class="text-warning">10% off</span> for all orders to celebrate 1st birthday KeyOneClick
            Why is <span class="text-warning">KeyOneClick</span>?
        </a>
    </div>
</div>